<!doctype html>
<html>
	<head>
		<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}"/>
		<link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}"/>
		
		<script src="{{ url_for('static', filename='js/jquery-2.1.1.min.js') }}"></script>
		<script src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}"></script>
		<title>Network Downloader</title>
	</head>
	<body>
		<center>
			<div id="body">
				<h1>Network Downloader</h1>
				<div id="downloadQueue">
				</div>
				<button class="modalShow">Add Download</button>
			</div>
			<div id="addDownloadModal" class="hidden">
				<br>
				<br>
				<form id="ftp" class="center" action="/addToQueue/ftp/" method="post">
					<h4>
						FTP Download
					</h4>
					<label>URL:<input type="text" name="url" required></label>
					<label>File name:<input type="text" name="fileName" required></label>
					<input type="submit" value="Add to queue">
				</form>
				<br>
				<br>
				<form id="tor" class="center" action="/addToQueue/tor/" method="post" enctype=multipart/form-data>
					<h4>
						Torrent Download
					</h4>
					<input type="file" name="file" value="" required>
					<input type="submit" value="Add to queue">
				</form>
				<br>
				<br>
				<button class="modalShow">Hide</button>
				<br>
				<br>
			</div>
		</center>
		<footer>
			<script>
				$(document).ready(function(){
					//set this on a timer?
					$.ajax({
						url: './downloadQueue',
						cache: false
					}).done(function(text){
						$("#downloadQueue").html(text);
						
					});
					$('.modalShow').each(function(){
						$(this).on('click', function(){
							$("#addDownloadModal").toggle();
						
						});
					});
					
				});
			</script>
		</footer>
	</body>
</html>