<h2>Current Torrent: {{ cur_tor }}</h2>
<br>
<h2>Current FTP: {{ cur_ftp }}</h2>
<br>
<h4>Torrent Queue</h4>
<table class="table table-striped table-bordered">
<thead>
	<th>#</th>
	<th>Name</th>
</thead>
{% for i in range(num_tor) %}
    <tr>
		<td>
			{{ i+1 }}
		</td>
		<td>
			{{ torDownloads[i] }}
		</td>
	</tr>
{% endfor %}
</table>
<br>
<h4>FTP Queue</h4>
<table class="table table-striped table-bordered">
<thead>
	<th>#</th>
	<th>Name</th>
</thead>
{% for j in range(num_ftp) %}
    <tr>
		<td>
			{{ j+1 }}
		</td>
		<td>
			{{ ftpDownloads[j][:-4] }}
		</td>
	</tr>
{% endfor %}
</table>
<br>
<h4>Download Folder</h4>
<table class="table table-striped table-bordered">
<thead>
	<th>#</th>
	<th>Name</th>
</thead>
{% for k in range(num_dl) %}
    <tr>
		<td>
			{{ k+1 }}
		</td>
		<td>
			{{ downloads[k] }}
		</td>
	</tr>
{% endfor %}
</table>